.my-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .my-profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .my-profile-container .form-group {
    margin-bottom: 15px;
  }
  
  .my-profile-container .form-control {
    border-radius: 5px;
    padding: 10px;
  }
  
  .my-profile-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .my-profile-buttons .btn {
    margin-right: 10px;
  }
  .row{
    padding-bottom: 25px;
  }

  .my-profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .my-profile-header {
    display: flex;
    align-items: center;
  }
  
  .my-profile-header h2 {
    margin-left: 20px;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd; 
  }
  

